<h2 class="page-header">Entries list</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Country</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="entry in entries">
            <td>{{ entry.first_name }}</td>
            <td>{{ entry.last_name }}</td>
            <td>{{ entry.email }}</td>
            <td>{{ entry.country | countryCodeToName }}</td>
            <td><a href="#/edit/{{ entry.id }}" class="btn btn-primary btn-xs">Details</a></td>
        </tr>
        </tbody>
    </table>
</div>

<a href="#/add" class="btn btn-primary btn-lg">Add entry</a>