<form name="entryForm" novalidate data-ng-submit="saveEntry(entry)">
    <div data-ng-class="['form-group', {'has-success': entryForm.first_name.$valid, 'has-error': entryForm.first_name.$dirty && !entryForm.first_name.$valid}]">
        <label class="control-label" for="first-name">First name</label>
        <input type="text"
               class="form-control" name="first_name" id="first-name"
               value="{{ entry.first_name }}" data-ng-model="entry.first_name"
               required>
        <span class="help-block" data-ng-show="entryForm.first_name.$dirty && entryForm.first_name.$error.required">First name is required.</span>
    </div>
    <div data-ng-class="['form-group', {'has-success': entryForm.last_name.$valid, 'has-error': entryForm.last_name.$dirty && !entryForm.last_name.$valid}]">
        <label class="control-label" for="last-name">Last name</label>
        <input type="text"
               class="form-control" name="last_name" id="last-name"
               value="{{ entry.last_name }}" data-ng-model="entry.last_name"
               required>
        <span class="help-block" data-ng-show="entryForm.last_name.$dirty && entryForm.last_name.$error.required">Last name is required.</span>
    </div>
    <div data-ng-class="['form-group', {'has-success': entryForm.email.$valid, 'has-error': entryForm.email.$dirty && !entryForm.email.$valid}]">
        <label class="control-label" for="email">Email</label>
        <input type="text"
               class="form-control" name="email" id="email"
               value="{{ entry.email }}" data-ng-model="entry.email"
               required pattern="{{ email_regexp }}">
        <span class="help-block" data-ng-show="entryForm.email.$dirty && entryForm.email.$error.required">E-mail is required.</span>
        <span class="help-block" data-ng-show="entryForm.email.$dirty && entryForm.email.$touched && entryForm.email.$error.pattern">Invalid email address.</span>
    </div>
    <div data-ng-class="['form-group', {'has-success': entryForm.country.$valid, 'has-error': entryForm.country.$dirty && !entryForm.country.$valid}]">
        <label class="control-label" for="country">Country</label>
        <select class="form-control" name="country" id="country"
                data-ng-model="entry.country"
                required>
            <option value=""></option>
            <option data-ng-repeat="country in countries" value="{{ country.code }}" data-ng-selected="country.code == entry.country">
                {{ country.name }}
            </option>
        </select>
        <span class="help-block" data-ng-show="entryForm.country.$dirty && entryForm.country.$error.required">Select country from list.</span>
    </div>

    <button type="submit" class="btn btn-primary" data-ng-disabled="!entryForm.$valid">Save</button>
    <a href="#/list" type="button" class="btn btn-default">Cancel</a>
    <button type="button" class="btn btn-danger pull-right" data-ng-show="entry.id" data-ng-click="removeEntry(entry.id)">Delete</button>
</form>